<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>AML</display-name>
  <description>AML</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>

   	 	   <!--classpath:spring/applicationContext_sqlserver.xml,-->
   	 	   classpath:spring/applicationContext_oracle.xml,
        <!-- classpath:spring/applicationContext_mysql.xml,-->
      		classpath:spring/generatorRegister.xml,
			classpath:spring/servicesRegister.xml,
			classpath:spring/security.xml,
			classpath:spring/dao/dao.xml,
			classpath:spring/mng/management_services.xml,
			classpath:spring/mng/parammng_services.xml,
			classpath:spring/mng/bizlog_services.xml,
            classpath:spring/mng/scheduler_services.xml,
			classpath:spring/mng/system_services.xml,
			classpath:spring/mng/genupreportfile_services.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>startJob</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>errorMessage</param-name>
    <param-value>resources/errorcode.properties</param-value>
  </context-param>
  <context-param>
    <param-name>sessionBetweenSessionTime</param-name>
    <param-value>6000000</param-value>
  </context-param>


   <!-- Filter aml文件包路径直接访问过滤    20170624-->      
    <filter>    
     <filter-name>AMLPathFilter</filter-name>    
     <filter-class>
     	com.huateng.ebank.framework.web.AMLPathFilter
     </filter-class>    
    </filter>    
    <filter-mapping>    
     <filter-name>AMLPathFilter</filter-name>    
     <url-pattern>/AMLReportDownload</url-pattern>    
    </filter-mapping>    
   <!-- Filter aml文件包路径直接访问过滤    20170624--> 
   
   
    <filter>
        <filter-name>transfilter</filter-name>
        <filter-class>
            com.huateng.ebank.framework.web.TransFilter
        </filter-class>
        <init-param>
            <param-name>EXPIRED_PAGE</param-name>
            <param-value>/common/expired.jsp</param-value>
            <!-- <param-value>/common/loginout_websso.html</param-value> -->
        </init-param>
    </filter>
    
        <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>/trans/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>*.ftl</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>/dwr/*</url-pattern>
    </filter-mapping>
  
  <filter>
    <filter-name>strutsFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.StrutsSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>strutsFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>urlFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.UrlAuthorizationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>addHeaderFilterStatic</filter-name>
    <filter-class>com.huateng.ebank.framework.web.AddHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=604800,public</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>addHeaderFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.web.AddHeaderFilter</filter-class>
    <init-param>
      <param-name>X-Frame-Options</param-name>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
  </filter>
  <!--<filter>
    <filter-name>SetCookieFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.web.SetCookieFilter</filter-class>
    <init-param>
      <param-name>SESSION_COOKIE_NAME</param-name>
      <param-value>JSESSIONID</param-value>
    </init-param>
  </filter>
  -->
  <filter>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.gzipfilter.GZIPFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Check Request Form Submit</filter-name>
    <filter-class>com.huateng.mvc.filter.XssFilter</filter-class>
  </filter>
  <!--
  <filter-mapping>
    <filter-name>SetCookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  <filter-mapping>
    <filter-name>Check Request Form Submit</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.ftl</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>urlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.NetDiskMappingListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.ApplicationListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
        	com.huateng.ebank.business.remote.base.SessionListener
		</listener-class>
  </listener>
  
  <!-- 201809 去除struts的东西  Strat
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
				 /WEB-INF/struts-config.xml,
				/WEB-INF/struts-config/commQuery.xml,
				/WEB-INF/struts-config/filedownload.xml
			</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>4</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
    201809 去除struts的东西  End-->
  
  <servlet>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryInterfaceServlet
		</servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/credit.mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>*.spring</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryResultServlet
		</servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ExcelUploadServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.business.common.ExcelUploadServlet
		</servlet-class>
  </servlet>
  
    <servlet>
   <servlet-name>BatchImportController</servlet-name>
    <servlet-class>
			com.huateng.excel.imp.BatchImportController
		</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.print.servlet.PrintServlet</servlet-class>
  </servlet>
  
	<servlet>
		<description> AML report file download</description>
		<servlet-name>AMLReportDownloadServlet</servlet-name>
		<servlet-class>com.huateng.report.aml.genupreportfile.servlet.AMLReportDownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AMLReportDownloadServlet</servlet-name>
		<url-pattern>/AMLReportDownload</url-pattern>
	</servlet-mapping>
  
  	<servlet>
		<description> AML warn receipt file download</description>
		<servlet-name>AmlWarnReceiptDownloadServlet</servlet-name>
		<servlet-class>com.huateng.report.aml.genupreportfile.servlet.AmlWarnReceiptDownloadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AmlWarnReceiptDownloadServlet</servlet-name>
		<url-pattern>/AmlWarnReceiptDownload</url-pattern>
	</servlet-mapping>
  
  <servlet>
    <servlet-name>commQuery</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryServlet
		</servlet-class>
    <init-param>
      <param-name>CommonQueryConfigLocation</param-name>
      <param-value>
				/WEB-INF/query/meta/CommQryMeta.xml,
				/WEB-INF/query/meta/managementMeta.xml,
				/WEB-INF/query/meta/parammng.xml,
				/WEB-INF/query/meta/sysMngMeta.xml,
	            /WEB-INF/query/meta/systemMeta.xml,
	            /WEB-INF/query/meta/importreceiptMeta.xml,
				/WEB-INF/query/meta/dataAuditMeta.xml,
				/WEB-INF/query/meta/schedulerMeta.xml,
				/WEB-INF/query/meta/hfDatacolletionMeta.xml,
				/WEB-INF/query/meta/hfAmlFormMeta.xml,
				/WEB-INF/query/meta/hfaml3Meta.xml,
			</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.servlet.BankHTFreemarkServlet
		</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>9</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
    <init-param>
      <param-name>config-0</param-name>
      <param-value>/WEB-INF/dwr.xml</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>pollAndCometEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>maxWaitAfterWrite</param-name>
      <param-value>500</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>PortalMenuServlet</display-name>
    <servlet-name>PortalMenuServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.remote.PortalMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>TokenCheckServlet</display-name>
    <servlet-name>TokenCheckServlet</servlet-name>
    <servlet-class>
		com.huateng.ebank.business.remote.TokenCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		PageBackServlet</display-name>
    <servlet-name>PageBackServlet</servlet-name>
    <servlet-class>
		com.huateng.ebank.business.remote.PageBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Uploadify</servlet-name>
    <servlet-class>com.huateng.report.imports.servlet.Uploadify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploadify</servlet-name>
    <url-pattern>/scripts/uploadify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAuthorityExcel</servlet-name>
    <servlet-class>com.huateng.ebank.business.rolemng.update.UserAuthorityExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthorityExcel</servlet-name>
    <url-pattern>/excel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAuthorityPdf</servlet-name>
    <servlet-class>com.huateng.ebank.business.rolemng.update.UserAuthorityPdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthorityPdf</servlet-name>
    <url-pattern>/pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportHighCharts</servlet-name>
    <servlet-class>com.huateng.ebank.hightcharts.export.ExportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportHighCharts</servlet-name>
    <url-pattern>/exportHighCharts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataDownLoad</servlet-name>
    <servlet-class>com.huateng.report.downloadfile.servlet.DataDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataDownLoad</servlet-name>
    <url-pattern>/datadownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportExportServlet</servlet-name>
    <servlet-class>com.huateng.credit.servlet.ReportExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportExportServlet</servlet-name>
    <url-pattern>/ReportExportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuarterStatWordDownloadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.creditquarterstat.servlet.QuarterStatWordDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuarterStatWordDownloadServlet</servlet-name>
    <url-pattern>/QuarterStatWordDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/PrintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelUploadServlet</servlet-name>
    <url-pattern>/ExcelUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commQuery</servlet-name>
    <url-pattern>/trans/CommQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <url-pattern>/trans/CommQueryInterfaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <url-pattern>/trans/CommQueryResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortalMenuServlet</servlet-name>
    <url-pattern>/menu/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenCheckServlet</servlet-name>
    <url-pattern>/TokenCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageBackServlet</servlet-name>
    <url-pattern>/PageBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.huateng.report.common.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckFileDownloadServlet</servlet-name>
    <servlet-class>com.huateng.report.common.servlet.CheckFileDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadFileTempServlet</servlet-name>
    <servlet-class>com.huateng.report.common.servlet.DownloadFileTempServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreditDownLoadCtlFileServlet</servlet-name>
    <servlet-class>com.huateng.credit.fileimp.updater.CreditDownLoadCtlFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckFileDownloadServlet</servlet-name>
    <url-pattern>/checkfiledownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFileTempServlet</servlet-name>
    <url-pattern>/downloadtemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreditDownLoadCtlFileServlet</servlet-name>
    <url-pattern>/sqlldrctl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/login/login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  
 <!--   
  <jsp-config>
    <taglib>
      <taglib-uri>/tags/application-tags</taglib-uri>
      <taglib-location>/WEB-INF/app.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-bean</taglib-uri>
      <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-html</taglib-uri>
      <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-logic</taglib-uri>
      <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    
    <taglib>
      <taglib-uri>/tags/struts-template</taglib-uri>
      <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-tiles</taglib-uri>
      <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-nested</taglib-uri>
      <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
    </taglib>
  </jsp-config>
  -->
  
  <!-- 20180901 将原框架中用到的struts替换掉 -->
   <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/custlogin.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/custlogout.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QryExpAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.QryExpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QryExpAction</servlet-name>
    <url-pattern>/trans/qryExp.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QryExpActionHsbc</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.QryExpHsbcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QryExpActionHsbc</servlet-name>
    <url-pattern>/trans/qryExpHsbc.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TransDataAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.commQuery.TransDataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransDataAction</servlet-name>
    <url-pattern>/trans/TransDataAction.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FileDownloadAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.FileDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadAction</servlet-name>
    <url-pattern>/filedownload/FileDownloadAction.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DownloadAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.pageqryexp.action.FileDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAction</servlet-name>
    <url-pattern>/pageqryexp/DownloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 全量交易查询导出 -->
  <servlet>
    <servlet-name>AmlDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 大额补录批量导入下载模板 -->
  <servlet>
    <servlet-name>AMLBHFileDownloadActionn</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.AMLBHFileDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AMLBHFileDownloadActionn</servlet-name>
    <url-pattern>/filedownload/AMLBHFileDownloadActionn.do</url-pattern>
  </servlet-mapping>
  
  <!-- 大额无规则导出 -->
  <servlet>
    <servlet-name>AmlNoRulesDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlNoRulesDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlNoRulesDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlNoRulesDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 未申领查询导出 -->
  <servlet>
    <servlet-name>AmlReceiveQueryDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlReceiveQueryDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlReceiveQueryDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlReceiveQueryDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 大额交易查询导出 -->
  <servlet>
    <servlet-name>AmlBHdsQuery2DownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlBHdsQuery2DownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlBHdsQuery2DownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlBHdsQuery2DownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 大额自查审核查询导出 -->
  <servlet>
    <servlet-name>AmlBHdsHisApproveDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlBHdsHisApproveDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlBHdsHisApproveDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlBHdsHisApproveDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 交易明细报表导出 -->
  <servlet>
    <servlet-name>AmlLarTradAllForm01DownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlLarTradAllForm01DownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlLarTradAllForm01DownloadAction</servlet-name>
    <url-pattern>/filedownload/AmlLarTradAllForm01DownloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 导出个人购汇pdf-->
  <servlet>
    <servlet-name>DownloadPDFAction</servlet-name>
    <servlet-class>com.huateng.report.aml.reportForm.util.DownloadPDFAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPDFAction</servlet-name>
    <url-pattern>/filedownload/DownloadPDFAction.do</url-pattern>
  </servlet-mapping>

  <!--可疑全量导出 -->
  <servlet>
    <servlet-name>AmlBSDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlBSDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlBSDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlBSDownoloadAction.do</url-pattern>
  </servlet-mapping>

  <!-- 大额已申领交易导出下载 -->
  <servlet>
    <servlet-name>TransFileDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.TransFileDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransFileDownloadAction</servlet-name>
    <url-pattern>/filedownload/TransFileDownloadAction.do</url-pattern>
  </servlet-mapping>
  
   <!-- 大额自查逾期MI报告 -->
  <servlet>
    <servlet-name>ViAmlSelfCheckOverdueDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.ViAmlSelfCheckOverdueDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViAmlSelfCheckOverdueDownloadAction</servlet-name>
    <url-pattern>/filedownload/ViAmlSelfCheckOverdueDownloadAction.do</url-pattern>
  </servlet-mapping>
  
   <!-- 部门USER查询导出-->
  <servlet>
    <servlet-name>ViAmlUserRoleDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.ViAmlUserRoleDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViAmlUserRoleDownloadAction</servlet-name>
    <url-pattern>/filedownload/ViAmlUserRoleDownloadAction.do</url-pattern>
  </servlet-mapping>
  <!-- 黑名单上传 导出-->
  <servlet>
    <servlet-name>CBlackListUploadDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.CBlackListUploadDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CBlackListUploadDownloadAction</servlet-name>
    <url-pattern>/filedownload/CBlackListUploadDownloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 有效用户与有效交易下载  -->
  <servlet>
    <servlet-name>CustAndTransDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.CustAndTransDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustAndTransDownloadAction</servlet-name>
    <url-pattern>/filedownload/CustAndTransDownloadAction.do</url-pattern>
  </servlet-mapping>
  <!-- 黑名单上传导入下载模板 -->
  <servlet>
    <servlet-name>BNimportAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.BNimportAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BNimportAction</servlet-name>
    <url-pattern>/filedownload/BNimportAction.do</url-pattern>
  </servlet-mapping>
    <!-- 黑名单拆分导入下载模板 -->
  <servlet>
    <servlet-name>BNSplitConfirmimportAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.BNSplitConfirmimportAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BNSplitConfirmimportAction</servlet-name>
    <url-pattern>/filedownload/BNSplitConfirmimportAction.do</url-pattern>
  </servlet-mapping>
    
    
   <!-- 3-号令 大额交易查询导出 -->
  <servlet>
    <servlet-name>AmlBHdsQueryDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.hfaml3.download.AmlBHdsQueryDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlBHdsQueryDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlBHdsQueryDownoloadAction.do</url-pattern>
  </servlet-mapping>
  <!-- 黑名单命中交易统计报表导出 -->
  <servlet>
    <servlet-name>CBlackHitCountDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.CBlackHitCountDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CBlackHitCountDownloadAction</servlet-name>
    <url-pattern>/filedownload/CBlackHitCountDownloadAction.do</url-pattern>
  </servlet-mapping>
  
  
    <!-- 3-号令 大额无规则交易导出 -->
  <servlet>
    <servlet-name>AmlTradInfoNoRulesDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.hfaml3.download.AmlTradInfoNoRulesDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlTradInfoNoRulesDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlTradInfoNoRulesDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 3-号令 AML交易查询导出 -->
  <servlet>
    <servlet-name>AmlTradInfoAllDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.hfaml3.download.AmlTradInfoAllDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlTradInfoAllDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlTradInfoAllDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 3-号令 大额抽样查询导出 -->
  <servlet>
    <servlet-name>AmlBHdsHisApproveThreeDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.hfaml3.download.AmlBHdsHisApproveThreeDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlBHdsHisApproveThreeDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlBHdsHisApproveThreeDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 3-号令 可疑交易报告查询导出 -->
  <servlet>
    <servlet-name>AmlBSReportDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.hfaml3.download.AmlBSReportDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlBSReportDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlBSReportDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 3-号令 可疑特征代码/金融机构网点代码导出 -->
  <servlet>
    <servlet-name>AmlStcrOrFincDownoloadAction</servlet-name>
    <servlet-class>com.huateng.report.hfaml3.download.AmlStcrOrFincDownoloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlStcrOrFincDownoloadAction</servlet-name>
    <url-pattern>/filedownload/AmlStcrOrFincDownoloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 员工交易监管下载（汇丰中国） -->
  <servlet>
    <servlet-name>AStaffAcctTradDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AStaffAcctTradDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AStaffAcctTradDownloadAction</servlet-name>
    <url-pattern>/filedownload/AStaffAcctTradDownloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- 员工交易监管下载（RRB村镇行）-->
  <servlet>
    <servlet-name>AStaffAcctTradRRBDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AStaffAcctTradRRBDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AStaffAcctTradRRBDownloadAction</servlet-name>
    <url-pattern>/filedownload/AStaffAcctTradRRBDownloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!-- HSBC员工交易监管报表 -->
  <!-- <servlet>
    <servlet-name>AmlAlertCaseSixDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlAlertCaseSixDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlAlertCaseSixDownloadAction</servlet-name>
    <url-pattern>/filedownload/AmlAlertCaseSixDownloadAction.do</url-pattern>
  </servlet-mapping> -->
  
  <!-- RRB员工交易监管报表 -->
  <!-- <servlet>
    <servlet-name>AmlAlertCaseSixRRBDownloadAction</servlet-name>
    <servlet-class>com.huateng.report.aml.download.AmlAlertCaseSixRRBDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmlAlertCaseSixRRBDownloadAction</servlet-name>
    <url-pattern>/filedownload/AmlAlertCaseSixRRBDownloadAction.do</url-pattern>
  </servlet-mapping> -->
  
</web-app>