<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>EAST</display-name>
  <description>EAST</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>

   	 	   <!--classpath:spring/applicationContext_sqlserver.xml,-->
        classpath:spring/applicationContext_oracle.xml,
      		classpath:spring/generatorRegister.xml,
			classpath:spring/servicesRegister.xml,
			classpath:spring/security.xml,
			classpath:spring/dao/dao.xml,
			classpath:spring/mng/management_services.xml,
			classpath:spring/mng/parammng_services.xml,
			classpath:spring/mng/bizlog_services.xml,
            classpath:spring/mng/scheduler_services.xml,
			classpath:spring/mng/system_services.xml,
		</param-value>
  </context-param>
  <context-param>
    <param-name>startJob</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>errorMessage</param-name>
    <param-value>resources/errorcode.properties</param-value>
  </context-param>
  <context-param>
    <param-name>sessionBetweenSessionTime</param-name>
    <param-value>6000000</param-value>
  </context-param>

    <filter>
        <filter-name>transfilter</filter-name>
        <filter-class>
            com.huateng.ebank.framework.web.TransFilter
        </filter-class>
        <init-param>
            <param-name>EXPIRED_PAGE</param-name>
            <param-value>/common/expired.jsp</param-value>
            <!-- <param-value>/common/loginout_websso.html</param-value> -->
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>/trans/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>*.ftl</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>transfilter</filter-name>
        <url-pattern>/dwr/*</url-pattern>
    </filter-mapping>
  
  <filter>
    <filter-name>strutsFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.StrutsSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>strutsFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>urlFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.UrlAuthorizationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>addHeaderFilterStatic</filter-name>
    <filter-class>com.huateng.ebank.framework.web.AddHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=604800,public</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>addHeaderFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.web.AddHeaderFilter</filter-class>
    <init-param>
      <param-name>X-Frame-Options</param-name>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
  </filter>
  <!--<filter>
    <filter-name>SetCookieFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.web.SetCookieFilter</filter-class>
    <init-param>
      <param-name>SESSION_COOKIE_NAME</param-name>
      <param-value>JSESSIONID</param-value>
    </init-param>
  </filter>
  -->
  <filter>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.gzipfilter.GZIPFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Check Request Form Submit</filter-name>
    <filter-class>com.huateng.mvc.filter.XssFilter</filter-class>
  </filter>
  <!--
  <filter-mapping>
    <filter-name>SetCookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  <filter-mapping>
    <filter-name>Check Request Form Submit</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.ftl</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilterStatic</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>urlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.NetDiskMappingListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.ApplicationListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
        	com.huateng.ebank.business.remote.base.SessionListener
		</listener-class>
  </listener> 
  <servlet>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryInterfaceServlet
		</servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  
  <!--300号文质量报表在线预览配置 20180802 -->
  <servlet>
		<description>
		</description>
		<display-name>OnlineView300FormAction</display-name>
		<servlet-name>OnlineView300FormAction</servlet-name>
		<servlet-class>com.huateng.export.action.OnlineView300FormAction</servlet-class>
	</servlet>
  <servlet-mapping>
		<servlet-name>OnlineView300FormAction</servlet-name>
		<url-pattern>/OnlineView300FormAction</url-pattern>
	</servlet-mapping>
  
  <!--springMVC的DispatcherServlet类配置 -->
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!--contextConfigLocations属性  配置文件的位置，如果存在多个配置文件用,分隔 -->
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/credit.mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!--springMVC的DispatcherServlet类映射配置 -->
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>*.spring</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryResultServlet
		</servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ExcelUploadServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.business.common.ExcelUploadServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.print.servlet.PrintServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>commQuery</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryServlet
		</servlet-class>
    <init-param>
      <param-name>CommonQueryConfigLocation</param-name>
      <param-value>
				/WEB-INF/query/meta/CommQryMeta.xml,
				/WEB-INF/query/meta/managementMeta.xml,
				/WEB-INF/query/meta/parammng.xml,
				/WEB-INF/query/meta/sysMngMeta.xml,
	            /WEB-INF/query/meta/systemMeta.xml,
				/WEB-INF/query/meta/dataAuditMeta.xml,
				/WEB-INF/query/meta/schedulerMeta.xml,
				/WEB-INF/query/meta/eastMeta.xml,
			</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.servlet.BankHTFreemarkServlet
		</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>9</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
    <init-param>
      <param-name>config-0</param-name>
      <param-value>/WEB-INF/dwr.xml</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>pollAndCometEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>maxWaitAfterWrite</param-name>
      <param-value>500</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>PortalMenuServlet</display-name>
    <servlet-name>PortalMenuServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.remote.PortalMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>TokenCheckServlet</display-name>
    <servlet-name>TokenCheckServlet</servlet-name>
    <servlet-class>
		com.huateng.ebank.business.remote.TokenCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		PageBackServlet</display-name>
    <servlet-name>PageBackServlet</servlet-name>
    <servlet-class>
		com.huateng.ebank.business.remote.PageBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Uploadify</servlet-name>
    <servlet-class>com.huateng.report.imports.servlet.Uploadify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploadify</servlet-name>
    <url-pattern>/scripts/uploadify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAuthorityExcel</servlet-name>
    <servlet-class>com.huateng.ebank.business.rolemng.update.UserAuthorityExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthorityExcel</servlet-name>
    <url-pattern>/excel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAuthorityPdf</servlet-name>
    <servlet-class>com.huateng.ebank.business.rolemng.update.UserAuthorityPdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthorityPdf</servlet-name>
    <url-pattern>/pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportHighCharts</servlet-name>
    <servlet-class>com.huateng.ebank.hightcharts.export.ExportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportHighCharts</servlet-name>
    <url-pattern>/exportHighCharts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataDownLoad</servlet-name>
    <servlet-class>com.huateng.report.downloadfile.servlet.DataDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataDownLoad</servlet-name>
    <url-pattern>/datadownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportExportServlet</servlet-name>
    <servlet-class>com.huateng.credit.servlet.ReportExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportExportServlet</servlet-name>
    <url-pattern>/ReportExportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuarterStatWordDownloadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.creditquarterstat.servlet.QuarterStatWordDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuarterStatWordDownloadServlet</servlet-name>
    <url-pattern>/QuarterStatWordDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/PrintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelUploadServlet</servlet-name>
    <url-pattern>/ExcelUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commQuery</servlet-name>
    <url-pattern>/trans/CommQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <url-pattern>/trans/CommQueryInterfaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <url-pattern>/trans/CommQueryResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortalMenuServlet</servlet-name>
    <url-pattern>/menu/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenCheckServlet</servlet-name>
    <url-pattern>/TokenCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageBackServlet</servlet-name>
    <url-pattern>/PageBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.huateng.report.common.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckFileDownloadServlet</servlet-name>
    <servlet-class>com.huateng.report.common.servlet.CheckFileDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadFileTempServlet</servlet-name>
    <servlet-class>com.huateng.report.common.servlet.DownloadFileTempServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreditDownLoadCtlFileServlet</servlet-name>
    <servlet-class>com.huateng.credit.fileimp.updater.CreditDownLoadCtlFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckFileDownloadServlet</servlet-name>
    <url-pattern>/checkfiledownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFileTempServlet</servlet-name>
    <url-pattern>/downloadtemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreditDownLoadCtlFileServlet</servlet-name>
    <url-pattern>/sqlldrctl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/login/login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/common/error.jsp</location>
  </error-page>
 
  <!-- 201809 将原框架中用到的struts替换掉 -->
   <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/custlogin.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/custlogout.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QryExpAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.QryExpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QryExpAction</servlet-name>
    <url-pattern>/trans/qryExp.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TransDataAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.commQuery.TransDataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransDataAction</servlet-name>
    <url-pattern>/trans/TransDataAction.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FileDownloadAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.FileDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadAction</servlet-name>
    <url-pattern>/filedownload/FileDownloadAction.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DownloadAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.pageqryexp.action.FileDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAction</servlet-name>
    <url-pattern>/pageqryexp/DownloadAction.do</url-pattern>
  </servlet-mapping>
  
  <!--报表平台demo的下载功能 -->
  <servlet>
    <servlet-name>demoDownloadAction</servlet-name>
    <servlet-class>com.huateng.demo.action.demoDownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoDownloadAction</servlet-name>
    <url-pattern>/filedownload/demoDownloadAction.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>exportFileAction</servlet-name>
    <servlet-class>com.huateng.export.csv.exportFileAction"</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportFileAction</servlet-name>
    <url-pattern>/filedownload/exportFile.do</url-pattern>
  </servlet-mapping>
  
  <!--300号文报表质量管理报表 -->
  <servlet>
    <servlet-name>Export300FormAction</servlet-name>
    <servlet-class>com.huateng.export.action.Export300FormAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Export300FormAction</servlet-name>
    <url-pattern>/filedownload/Export300FormAction.do</url-pattern>
  </servlet-mapping>
    <!--300号文导出详情页 -->
    <servlet>
    <servlet-name>exportFileAction2</servlet-name>
    <servlet-class>com.huateng.export.csv.exportFileAction2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportFileAction2</servlet-name>
    <url-pattern>/filedownload/exportFileAction2.do</url-pattern>
  </servlet-mapping>
  
    <!-- 300号文风险等级文件下载 20190522-->
	<servlet>
		<servlet-name>CheckFile300</servlet-name>
		<servlet-class>com.huateng.export.action.CheckFile300DownLoadAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckFile300</servlet-name>
		<url-pattern>/file300download/CheckFile300DownoLoadAction.do</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>MouldDownLoad</servlet-name>
    <servlet-class>com.huateng.report.downloadfile.servlet.MouldDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MouldDownLoad</servlet-name>
    <url-pattern>/mouldDownLoad</url-pattern>
  </servlet-mapping>
</web-app>